.form-contacts {
  width: 100%;
  background-color: @white-color;
  color: @black-color;
  border-top: 1px solid @border-color;
}

.form-contacts__wrapper {
  width: 280px;
  .form-contacts__wrapper();
  margin: 0;
}

.form-contacts__caption {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  text-align: center;
  .font-caption();
  font-size: 18px;
  line-height: 20px;
}

.form-contacts__wrapper-information {
  padding: 0;
  margin: 0;
}

.form-contacts__label {
  .font-text();
  font-size: 14px;
  line-height: 26px;
  margin-left: 22px;
}

.form-contacts__input {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  .font-input();
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  height: 58px;
  background-color: @photogallery-color;
  color: @black-color;
  border: none;
}

.form-contacts__input:hover {
  background-color: @border-color;
}

.form-contacts__input:active {
  background-color: @white-color;
}

.form-contacts__input:focus {
  outline: 4px solid @border-color;
}

.form-contacts__text {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-contacts__text--phone::before {
  position: absolute;
  width: 18px;
  height: 18px;
  border-top: 20px solid #e6e6e6;
  border-left: 21px solid #e6e6e6;
  border-right: 19px solid #e6e6e6;
  border-bottom: 20px solid #e6e6e6;
  top: 0;
  right: 0;
  display: block;
  content: "";
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-size: 100%;
  z-index: 2;
}

.form-contacts__text--email::before {
  position: absolute;
  width: 18px;
  height: 18px;
  border-top: 20px solid #e6e6e6;
  border-left: 20px solid #e6e6e6;
  border-right: 20px solid #e6e6e6;
  border-bottom: 20px solid #e6e6e6;
  top: 0;
  right: 0;
  display: block;
  content: "";
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  background-size: 100%;
  z-index: 2;
}

@media @tablet-width {
  .form-contacts {
    border-top: none;
  }

  .form-contacts__wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .form-contacts__wrapper::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 57px;
    left: 60px;
  }

  .form-contacts__wrapper::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    top: 57px;
    right: 60px;
  }

  .form-contacts__caption {
    font-size: 21px;
    margin-bottom: 26px;
  }

  .form-contacts__text:nth-of-type(2) {
    margin-top: 5px;
  }

  .form-contacts__text:nth-of-type(3) {
    margin-top: 26px;
  }

  .form-contacts__text:nth-of-type(4) {
    margin-top: 5px;
  }

  .form-contacts__input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
  }
}

@media @desktop-width {
  .form-contacts__wrapper {
    position: relative;
    width: 1200px;
    box-sizing: border-box;
  }

  .form-contacts__caption {
    margin-bottom: 76px;
  }

  .form-contacts__wrapper-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 960px;
  }

  .form-contacts__label {
    margin-left: 0;
  }

  .form-contacts__text:nth-of-type(1) {
    margin-top: 18px;
    margin-right: 6px;
  }

  .form-contacts__text:nth-of-type(2) {
    margin-top: 0;
  }

  .form-contacts__text:nth-of-type(3) {
    margin-top: 18px;
    margin-right: 16px;
  }

  .form-contacts__text:nth-of-type(4) {
    margin-top: 0;
  }

  .form-contacts__input {
    width: 315px;
  }

  .form-contacts__wrapper::before {
    width: 280px;
    left: 120px;
  }

  .form-contacts__wrapper::after {
    width: 280px;
    right: 120px;
  }
}
