.form-details {
  width: 100%;
  background-color: @white-color;
  color: @black-color;
  border-top: 1px solid @border-color;
}

.form-details__wrapper {
  width: 280px;
  .form-details__wrapper();
  margin: 0;
}

.form-details__caption {
  display: block;
  margin: 0 auto;
  text-align: center;
  .font-caption();
  font-size: 18px;
  line-height: 20px;
  color: @black-color;
}

.form-details__text {
  position: relative;
  .font-input();
  font-size: 18px;
  line-height: 26px;
  margin-left: 78px;
  margin-top: 43px;
  margin-bottom: 0;
  color: @black-color;
}

.form-details__radio {
  display: none;
}

.form-details__label::before {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  top: -15px;
  left: -78px;
  background-color: @photogallery-color;
  border-radius: 50%;
}

.form-details__label::after {
  position: absolute;
  display: none;
  content: "";
  width: 22px;
  height: 22px;
  top: 10%;
  left: -60px;
  background-color: #333333;
  border-radius: 50%;
}

.form-details__radio:checked + .form-details__label::after {
  display: block;
}

.form-details__text input:hover + .form-details__label::before {
  background-color: @border-color;
}

.form-details__text input:active + .form-details__label::before {
  background-color: #d5d5d5;
}

.form-details__text input:active + .form-details__label::after {
  opacity: 0.3;
}

@media @tablet-width {
  .form-details {
    width: 50%;
    border-top: none;
  }

  .form-details__caption {
    font-size: 21px;
  }

  .form-details__text {
    margin-top: 52px;
  }

  .form-details__text:first-of-type {
    margin-top: 75px;
  }

  .form-details__wrapper {
    position: relative;
  }

  .form-details__wrapper::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
    top: 20px;
    right: -45px;
  }
}
