.form-review {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.form-review__name {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @white-color;
  color: @black-color;
  border: none;
}

.form-review__contacts {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @white-color;
  color: @black-color;
  border: none;
}
