.logo {
  width: 105px;
  height: 84px;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 2;
}

.logo__image {
  background-image: url("../img/logo-sedona-mobile.svg");
  left: 180px;
  top: 0;
}
