.main-nav {
  background-color: @navigation-color;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px salmon;
}

.main-nav__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
}

.main-nav__item {
  .font-caption();
  padding-left: 0;
  padding-right: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .main-nav {
    background-color: @white-color;
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
    color: @black-color;
  }
}
