.main-nav {
  background-color: @navigation-color;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 56px;
  padding: 0;
  border: 1px solid salmon;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.main-nav__item {
  padding-left: 0;
  padding-right: 0;
  padding-top: 7px;
  padding-bottom: 7px;
}
