.main-nav {
  background-color: @navigation-color;
  margin: 0;
  padding: 0;
}

.main-nav--hidden {
  display: none;
}

.main-nav__item a:link {
  color: #ffffff;
}

.main-nav__item a:hover {
  background-color: @social__link-hover-color;
}

.main-nav__item a:active {
  color: #88b6d1;
  background-color: @social__link-down-color;
}

.main-nav__item a:visited {
  color: #ffffff;
}

.main-nav__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
}

.main-nav__item {
  .font-caption();
  padding-left: 0;
  padding-right: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #9ac2db;
  box-shadow: 0 -2px 1px rgba(103, 143, 168, 0.2);
}

@media @tablet-width {
  .main-nav {
    display: block;
    background-color: @white-color;
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
    color: @black-color;
    font-size: 14px;
    line-height: 40px;
  }

  .main-nav__list li:nth-child(2) {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: auto;
    padding-right: 5px;
  }

  .main-nav__list li:first-child {
    box-sizing: border-box;
    padding-right: 15px;
  }

  .main-nav__item {
    width: 20%;
    border-bottom: none;
    box-shadow: none;
  }

  .main-nav__item a:link {
    color: @black-color;
  }

  .main-nav__item a:hover {
    color: @navigation-color;
  }

  .main-nav__item a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .main-nav__item a:visited {
    color: @black-color;
  }

  .main-nav__item a.active {
    color: #766357;
  }

  .main-nav__item a.active:hover {
    color: #604e43;
  }

  .main-nav__item a.active:active {
    color: rgba(118, 99, 87, 0.3);
  }
}

@media @desktop-width {
  .main-nav__list li:first-child {
    padding-right: 8px;
  }
}
