.main-reason {
  background-color: @main-reason;
  color: @black-color;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px palegreen;
}

.main-reason__wrapper {
  text-align: center;
  margin: 0 auto;
}

.main-reason__wrapper-row {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.main-reason__image-wrapper {
  text-align: center;
  margin: 0 auto;
}

.main-reason__caption {
  .font-caption();
  font-size: 16px;
  line-height: 26px;
}

.main-reason__roster {
  .font-text();
  font-size: 14px;
  line-height: 28px;
}

.main-reason__text {
  .font-text();
  font-size: 14px;
  line-height: 28px;
}

.main-reason__decoration--color {
  background-color: @navigation-color;
  color: @white-color;
}

@media (min-width: @tablet-width) {
  .main-reason {
    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-reason__wrapper {
    margin: 0;
    padding: 0;
    width: 33%;
  }

  .main-reason__image-wrapper {
    margin: 0;
    padding: 0;
    width: 66%;
  }

  .main-reason__image-wrapper--position {
    order: -1;
  }

  .main-reason__wrapper-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .main-reason__image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .main-reason__wrapper-row {
    width: 1200px;
  }

  .main-reason__decoration {
    box-shadow: 0 0 1px 1px firebrick;
    width: 33%;
  }

  .main-reason__decoration--color {
    width: 100%;
  }
}
