.page-footer {
  width: 320px;
  height: 245px;
  background-color: @footer-color;
  color: #000000;
  text-transform: uppercase;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 1px solid royalblue;
}

.page-footer__hashtag {
  font-size: 20px;
  line-height: 20px;
}

.page-footer__copyright-text {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
  }
}
