.page-header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: @white-color;
}

.page-header__wrapper {
  .page-header__wrapper();
}

.page-header__button {
  width: 24px;
  height: 24px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 20px;
  border: none;
  background-color: transparent;
  top: 17px;
  z-index: 2;
}

.page-header__button--toggler {
  background-image: url("../img/icon-menu.svg");
  color: @navigation-color;
}

.page-header__button--cross {
  background-image: url("../img/icon-cross.svg");
}

@media @tablet-width {
  .page-header {
    width: 100%;
  }

  .page-header__button {
    display: none;
  }
}
