.photo-head {
  background-color: @white-color;
  color: @black-color;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px fuchsia;
}

.photo-head__wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
}

.photo-head__caption {
  .font-caption();
  font-size: 18px;
  line-height: 20px;
}

.photo-head__text {
  .font-text();
  font-size: 14px;
  line-height: 28px;
}

@media (min-width: @tablet-width) {
  .photo-head {
    width: 100%;
    height: 248px;
  }

  .photo-head__wrapper {
    padding-top: 70px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width: @desktop-width) {
  .photo-head {
    width: 100%;
    height: 288px;
  }

  .photo-head__wrapper {
    padding-top: 110px;
    padding-left: 380px;
    padding-right: 380px;
  }
}
