.social {
  background-color: @footer-color;
}

.social__wrapper {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.social__list {
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .social__wrapper {
    min-width: 256px;
  }

  .social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .social__wrapper {
    max-width: 400px;
  }
}
