.tourist {
  background-color: @white-color;
  color: @black-color;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1px 1px blueviolet;
}

.tourist__wrapper {
  min-width: 320px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.tourist__list {
  list-style-type: none;
}

.tourist__caption {
  .font-caption();
  font-size: 16px;
  line-height: 20px;
}

.tourist__text {
  .font-text();
  font-size: 14px;
  line-height: 28px;
}

@media (min-width: @tablet-width) {
  .tourist__wrapper {
    min-width: 768px;
    height: 330px;
  }

  .tourist__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .tourist__item {
    width: 33%;
  }
}

@media (min-width: @desktop-width) {
  .tourist__wrapper {
    min-width: 1200px;
  }
}
