.font-caption() {
  font-family: @fonts;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
}

.font-text() {
  font-family: @fonts;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
}

.main-reason-wrapper() {
  padding-top: 45px;
  padding-left: 46px;
  padding-right: 46px;
  padding-bottom: 45px;
}

.footer__wrapper() {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

.footer__wrapper-desktop() {
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}

.photo-head__wrapper() {
  padding-top: 77px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 68px;
}

.photogallery-padding() {
  padding-top: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
}

.photo-head__wrapper-desktop() {
  padding-top: 115px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 75px;
}

.box-shadow() {
  box-shadow: 0 0 1px 1px fuchsia;
}
