@navigation-color: #81b3d2;
@footer-color: #fefefe;
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";
@black-color: #000000;
@white-color: #ffffff;
@main-reason: #eeeeee;
@fonts: "PT Sans", "Arial", sans-serif;
@photo-element-color: #eaeaea;
@photogallery-color: #f2f2f2;
@social__link-hover-color: #669ec0;
@social__link-down-color: #5496bd;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@retina-media: ~"(min-resolution: @retina-dpi), (min-resolution: @retina-dppx)";
@border-color: #e5e5e5;
